

<!-- SIGN OFF -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">

  <tr>
    <td bgcolor="#{{ site.data.style.color-se-black }}" align="center" style="padding: 30px 15px;">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">

        <tr>
          <td align="center" style="padding: 0 10px 15px; color: #ffffff; {{ site.data.style.text-h2 }}" class="padding-copy-header">
            Email <a style='color:white;text-decoration:none;word-break: break-all;' href='mailto:{!Account.OwnerFirstName}.{!Account.OwnerLastName}@secretescapes.com'>{!Account.OwnerFirstName}.{!Account.OwnerLastName}@secretescapes.com</a>, to participate in our next 24-hour sale or to chat about how this type of promotion could work for you.
          </td>
        </tr>

        <tr>
          <td align="center" style="padding: 10px 0;">
            <!-- BULLETPROOF BUTTON -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-pad-3c mobile-center-align">
              <tr>
                <td align="center">
                  <a href="{{ page.campaign-link }}" style="{{ site.data.style.button-large }}">
                    {{ page.main-cta-label }}
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#{{ site.data.style.color-black }}" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="responsive-table">
        <tr>
          <td style="padding: 30px 0;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding: 0 30px 2px; color: #ffffff; text-align: center; {{ site.data.style.text-p }}">
                  Best wishes,
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 0 30px 0; color: #ffffff; text-align: center; word-break: break-all; {{ site.data.style.text-h1 }}">
                  {!Account.OwnerFullName}
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 5px 30px 0; color: #ffffff; text-align: center; {{ site.data.style.text-h5 }}">
                  Contracts Manager, UK Hotels
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 8px 30px 0; color: #ffffff; text-align: center; {{ site.data.style.text-p }}">
                  Any questions? Find out more <a href="https://www.secretescapes.com/addyourhotel" style="text-decoration: none; color: #{{ site.data.style.color-se-orange }};"> here</a>.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



  <!-- FORCES DESKTOP VERSION ON GMAIL MOBILE -->
  <table class="mobile-hide" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="600px" style="width:600px;">
          <tr>
            <td cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff; line-height:1px;" height="1px; min-width: 600px;">
            <img src="img/blank-600px.png" height="1px" width="600px" style="max-height:1px; min-height:1px; display:block; width:600px; min-width:600px;"/>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div style="display:none; white-space:nowrap; font-family: courier; font-size: 20px; line-height: 0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>



<custom name="opencounter" type="tracking">
